<div class="full-screen">
	<div class="other">@we_alive 로 트윗을 보내서,<br/>
윤하에게 당신의 메세지를 전달하세요!<br/>(60자 내외)</div>
	<div class="main">
		<div class="tweet">
			<div class="header">
				<img src="https://twimg0-a.akamaihd.net/profile_images/2326500871/40dd3h331sfmblsln2jr_normal.jpeg" class="profile_img"/>
				<p class="from_user">@we_alive</p>
			</div>
			<p class="text">@we_alive 로 트윗을 보내서,<br/>
윤하에게 당신의 메세지를 전달하세요!<br/>(60자 내외)</p>
		</div>
	</div>
	<div class="other">@we_alive 로 트윗을 보내서,<br/>
윤하에게 당신의 메세지를 전달하세요!<br/>(60자 내외)</div>
</div>
<script type="text/javascript">
  $(document).ready(function(e){
    showcases_view();
  });
</script>