<!DOCTYPE html>
<html>
<head>
  <title>YH Twitter Showcase</title>
  <%= stylesheet_link_tag    "showcases", :media => "all" %>
  <%= javascript_include_tag "showcases" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
