<!DOCTYPE html>
<html>
<head>
  <title>YH Twitter feed</title>
  <%= stylesheet_link_tag    "tweets", :media => "all" %>
  <%= javascript_include_tag "tweets" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
